{{!-- Page to display patient info and able to approve or delete med cert --}}

<div class='container mx-auto py-8'>

  <h2 class='text-2x1 font-semibold mb-4'>Here are the medical certificate
    requests for
    {{patient.name}}</h2>
  <div class='col-md-6'>
  <div class='text-center'>
    <table class='patient-table'>
      <tr>
        <th>Diabetes</th>
        <td>{{patient.diabetes}}</td>
      </tr>
      <tr>
        <th>Heart Disease</th>
        <td>{{patient.heart_disease}}</td>
      </tr>
      <tr>
        <th>High Blood Pressure</th>
        <td>{{patient.high_blood_pressure}}</td>
      </tr>
      <tr>
        <th>Kidney or Liver Disease</th>
        <td>{{patient.kidney_or_liver_disease}}</td>
      </tr>
      <tr>
        <th>Medication List</th>
        <td>{{patient.medication_list}}</td>
      </tr>
    </table>
  </div>
</div>


  <h3 class='text-1g font-semibold mb-4'>Medical Certificate Requests:</h3>

  <div class='grid grid-cols-1 md:grid-cols-2 gap-4 med-cert-list'>

    <div class='bg-white rounded-lg p-4 shadow-md'>
      <div class='flex justify-between'>
        <h4 class='text-xl font-semibold'>{{reason}}</h4>
        <div class="buttons-ok buttons-delete">
        {{#if approved}}
        <div class='col-md-4 delete-now'>
          
          <div>
            <button
              class='bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-full shadow-md transition-transform transform hover:scale-105 '
              data-name='{{certificate_id}}'
            >DELETE</button>
          </div>
        {{else}}
        <div class="approve-button">
          <button
            class='bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-full shadow-md transition-transform transform hover:scale-105'
            data-id='{{certificate_id}}'
          >APPROVE</button>
          </div>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src='./js/doctorAndPatient.js'></script>
