{{!-- Page to update patient info  --}}

<div class='row'>
  <div class='col-auto'>
    <h2><strong>{{name}}</strong><br />Did you want to update your profile?</h2><br
    />

  </div>
</div>

<div class='col-md-6'>
  <div class='text-center'>
    <table class='patient-table'>
      <tr>
        <th>Name</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Diabetes</th>
        <td>{{diabetes}}</td>
      </tr>
      <tr>
        <th>Heart Disease</th>
        <td>{{heart_disease}}</td>
      </tr>
      <tr>
        <th>High Blood Pressure</th>
        <td>{{high_blood_pressure}}</td>
      </tr>
      <tr>
        <th>Kidney or Liver Disease</th>
        <td>{{kidney_or_liver_disease}}</td>
      </tr>
      <tr>
        <th>Medication List</th>
        <td>{{medication_list}}</td>
      </tr>
    </table>
  </div>
</div>

<br />

<div class='col-md-6'>
  <h3><strong>Update Medical History:</strong></h3>

  <form class='form patient-update'>
    <div class='form-group'>
      <label for='diabetes'>Diabetes:</label>
      <select class='form-input' id='diabetes'>
        <option value={{diabetes}}>{{diabetes}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='allergies'>Allergies:</label>
      <textarea
        class='form-input'
        id='allergies'
        name='allergies-desc'
        placeholder='Enter your allergies (e.g. nuts, pollen) or none'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='medication'>Medication:</label>
      <textarea
        class='form-input'
        id='medication'
        name='medication-desc'
        placeholder='Enter your current medications (e.g. aspirin, antibiotics) or none'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='heart'>Heart disease:</label>
      <select class='form-input' id='heart'>
        <option value={{heart_disease}}>{{heart_disease}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='blood'>High blood pressure:</label>
      <select class='form-input' id='blood'>
        <option value={{high_blood_pressure}}>{{high_blood_pressure}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='kidney'>Kidney or liver disease:</label>
      <select class='form-input' id='kidney'>
        <option
          value={{kidney_or_liver_disease}}
        >{{kidney_or_liver_disease}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>

    <div class='form-group'>
      <button type='submit' class='btn btn-primary'>Update</button>
    </div>
  </form>
</div>

<script src='./js/updatePatient.js'></script>