<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">{{name}}, Would you like to update your profile?</h2>
    </div>
  </div>

<div class="row mt-4">
    <div class="col-md-6">
      <div class="text-center">
        <h2>{{name}}</h2>
        <p><strong>Diabetes:</strong> {{diabetes}}</p>
        <p><strong>Heart Disease:</strong> {{heart_disease}}</p>
        <p><strong>High Blood Pressure:</strong> {{high_blood_pressure}}</p>
        <p><strong>Kidney or Liver Disease:</strong> {{kidney_or_liver_disease}}</p>
        <p><strong>Medication:</strong> {{medication_list}}</p>
      </div>
    </div>

<div class='col-md-6'>
  <h3>Update Medical History: *must answer all questions before updating</h3>

  <form class='form patient-update'>
    <div class='form-group'>
      <label for='diabetes'>Diabetes:</label>
      <select class='form-input' id='diabetes'>
        <option value={{diabetes}}>{{diabetes}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='allergies'>Allergies:</label>
      <textarea
        class='form-input'
        id='allergies'
        name='allergies-desc'
        placeholder='Enter your allergies (e.g. nuts, pollen) or none'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='medication'>Medication:</label>
      <textarea
        class='form-input'
        id='medication'
        name='medication-desc'
        placeholder='Enter your current medications (e.g. aspirin, antibiotics) or none'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='heart'>Heart disease:</label>
      <select class='form-input' id='heart'>
        <option value={{heart_disease}}>{{heart_disease}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='blood'>High blood pressure:</label>
      <select class='form-input' id='blood'>
        <option value={{high_blood_pressure}}>{{high_blood_pressure}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='kidney'>Kidney or liver disease:</label>
      <select class='form-input' id='kidney'>
        <option
          value={{kidney_or_liver_disease}}
        >{{kidney_or_liver_disease}}</option>
        <option value='true'>Yes</option>
        <option value='false'>No</option>
      </select>
    </div>

    <div class='form-group'>
      <button type='submit' class='btn btn-primary'>Update</button>
    </div>
  </form>
</div>

<script src='./js/updatePatient.js'></script>